In [1]:
import pandas as pd

In [2]:
# Creating a Pandas series

names = pd.Series(['Pomeray, CODY ',' Wagner; Jarry','smith, Ray'])

In [3]:
names

0    Pomeray, CODY
1     Wagner; Jarry
2        smith, Ray
dtype: object

In [5]:
# Replacing semicolons with comma

names = names.str.replace(';',',')
names

0    Pomeray, CODY
1     Wagner, Jarry
2        smith, Ray
dtype: object

In [6]:
# Changing to lowecase letters

names = names.str.lower()
names

0    pomeray, cody
1     wagner, jarry
2        smith, ray
dtype: object

In [7]:
# Creating a tuple

names = names.str.split(', ')
names

0    [pomeray, cody ]
1    [ wagner, jarry]
2        [smith, ray]
dtype: object

In [8]:
# Swapping the order of first and last name

names = pd.Series([i[::-1] for i in names])
names

0    [cody , pomeray]
1    [jarry,  wagner]
2        [ray, smith]
dtype: object

In [9]:
# Joining the strings that are separated with comma

names = [' '.join(i) for i in names] 
names

['cody  pomeray', 'jarry  wagner', 'ray smith']